body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  touch-action: none;
  background-color: rgb(21, 27, 26);
  font-weight: 500;
  font-family: "Pixelify Sans", system-ui;
}

#canvas {
  height: 90%;
  border: rgba(245, 222, 179, 0.2) 2px solid;
  background-color: rgb(21, 27, 26);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  z-index: 0;
}

.scoreContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: end;
  align-items: start;
}

.gameScore {
  color: gold;
  font-size: 2.2rem;
  letter-spacing: -0.5px;
  transform: translate(-50%, -50%);
}

.letterMessage {
  position: absolute;
  left: 50%;
  top: 200%;
  z-index: 1;
  height: 10px;
  width: 20px;
  font-size: 30px;
  border: #a06531 solid 7.5px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: top 0.4s ease-out;
}

.letterContainer {
  height: 88%;
  width: 80%;
  color: wheat;
  padding: 3% 0;
}

.letterCloseBtn {
  width: 80%;
  text-align: center;
  height: 12%;
  color: wheat;
  animation: letterColorChange 1.75s infinite ease-in-out;
}

.bannerContainer {
  transition: top 0.45s ease-out;
  color: #a06531;
  font-size: 2rem;
  position: absolute;
  letter-spacing: -0.5px;
  left: 50%;
  top: -50%;
  transform: translate(-50%, -50%);
  max-width: 340px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 35/11;
  background: url('/HUD/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 55%;
  width: 70%;
  margin-top: -10px;
}

.padStyle {
  background-color: rgba(245, 222, 179, 0.1);
  border: 2.5px rgba(245, 222, 179, 0.8) solid;
}

.padStyle:active {
  background-color: rgba(245, 222, 179, 0.3);
}

.arrowContiner {
  display: grid;
  z-index: 4;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    ". up ."
    "left . right"
    ". down .";
  height: 150px;
  width: 150px;
  position: absolute;
  top: calc(100% - 165px);
  left: 15px;
}

.actionContiner {
  display: grid;
  z-index: 4;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    ". . switch"
    "attack attack potion"
    "attack attack .";
  height: 150px;
  width: 150px;
  position: absolute;
  top: calc(100% - 160px);
  right: 15px;
}

.up {
  grid-area: up;
  border-radius: 10px;
  background-image: url("/Svg/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: rotate(-90deg);
}

.down {
  grid-area: down;
  border-radius: 10px;
  background-image: url("/Svg/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: rotate(90deg);
}

.left {
  grid-area: left;
  border-radius: 10px;
  background-image: url("/Svg/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: rotate(180deg);
}

.right {
  grid-area: right;
  border-radius: 10px;
  background-image: url("/Svg/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.potion {
  margin: 12px 0 -12px 0;
  grid-area: potion;
  border-radius: 50%;
  background-image: url("/Svg/potion.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.switch {
  margin: 5px 0 -5px 0;
  grid-area: switch;
  border-radius: 50%;
  background-image: url("/Svg/swap.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: rotate(90deg);
}

.attack {
  margin: 10px;
  grid-area: attack;
  padding: 10px;
  border-radius: 50%;
  background-image: url("/Svg/sword.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@keyframes letterColorChange {
  0% {
    color: transparent;
    transform: scale(1);
  }

  50% {
    color: wheat;
    transform: scale(1.075);
  }

  100% {
    color: transparent;
    transform: scale(1);
  }
}
